<hi:common_header runat="server" />
    <link href="/Templates/common/css/public.css" rel="stylesheet" type="text/css">
<link href="/Templates/common/css/bargain.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">

        function LoadMore() {
            var data = {};
            data.BargainDetialId = getUrlParam("bargainDetialId");
            $.post("/api/VshopProcess.ashx?action=LoadMoreHelpBargainDetial", data, function (json) {
                $("#divHelpBargainDetails").html("");
                $("#divHelpBargainDetails").html(json.msg);
            });
        }
        //商品评论
        function gotoProductReview() {
            var productId = $("#vHelpBargainDetial_hiddProductId").val();
            window.location.href = '/Vshop/ProductReview.aspx?ProductId=' + productId;
        }

        //商品咨询
        function gotoProductConsultation()
        {
            var productId = $("#vHelpBargainDetial_hiddProductId").val();
            window.location.href = '/ProductConsultations.aspx?ProductId=' + productId + "&ReferralId=" + getParam('ReferralId');
        }

        //收藏
        function AddFavorite() {
            var productId = $("#vHelpBargainDetial_hiddProductId").val();
            var data = {};
            data.ProductId = productId;

            $.post("/api/VshopProcess.ashx?action=AddFavorite", data, function (json) {
                if (json.success === true) {
                    $('#addF').addClass('hide');
                    $('#addedF').removeClass('hide');
                    alert_h('收藏成功！');
                }
                else {
                    alert_h('您当前还没有登录！', function () {
                        var url = window.location.href;
                            location.href = "/UserLogining.aspx?returnUrl=" + encodeURIComponent(url) + "";
                    });
                }
            });
        }

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
        //倒计时
        function getEndTime() {
            var date = $('#vHelpBargainDetial_hiddEndDate').val();
            var dateArr = date.split(':');
            var endTime = new Date(dateArr[0], dateArr[1], dateArr[2], dateArr[3], dateArr[4]);
            var now = new Date();
            var nowTime = new Date(now.getFullYear(), now.getMonth() + 1, now.getDate(), now.getHours(), now.getMinutes(), now.getSeconds(), now.getMilliseconds());
            var nMS = endTime.getTime() - nowTime.getTime();

            if (nowTime.getTime() < endTime.getTime()) {
                var nD = Math.floor(nMS / (1000 * 60 * 60 * 24)) % 30 - 1;
                var nH = Math.floor(nMS / (1000 * 60 * 60)) % 24;
                var nM = Math.floor(nMS / (1000 * 60)) % 60;
                var nS = Math.floor(nMS / 1000) % 60;
                $("#divtimer").html("还剩： " + nD + "天 " + nH + "小时 " + nM + "分钟 " + nS + "秒");
                setTimeout("getEndTime()", 1000);
            }
            else
                $("#divtimer").html("活动已结束");
        }
        window.onload = getEndTime;
</script>
    <input type="hidden" runat="server" id="hiddPurchaseNumber" />
    <input type="hidden" runat="server" id="hiddHasCollected" />
    <input type="hidden" runat="server" id="hiddEndDate" />
    <input type="hidden" runat="server" id="hiddProductId">
    <input type="hidden" runat="server" id="hideTitle">
    <input type="hidden" runat="server" id="hideImgUrl">
    <input type="hidden" runat="server" id="hideDesc">
    <div class="container" style="padding-bottom:50px;">
        <div class="header">
            <div id="slides">
                <hi:vshoptemplatedrepeater id="rptProductImages" templatefile="/Tags/skin-Common_Slide.ascx" runat="server" />
            </div>
            <div class="shopmaskinfo">
                <p id="divtimer"></p>
                <p class="addnumber">参与：<strong><asp:literal runat="server" id="litParticipantNumber" /></strong>人</p>
            </div>
        </div>
        <div class="shopinfobox">
            <h2 class="h2productName"><asp:literal runat="server" id="litProdcutName" /></h2>
            <p class="setbottom"><strong class="str" id="desc"><asp:literal runat="server" id="litShortDescription" /></strong></p>
            <div class="progress">
                <div class="progress-bar progress-bar-warning" id="divProgressvalue" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                </div>
            </div>
            <div class="clearfix lotteryCase">
                <p class="fl"><span class="colorr">当前价格￥<asp:literal runat="server" id="litSalePrice" /></span></p>
                <p class="fr"><span class="colorlu">活动底价￥<asp:literal runat="server" id="litFloorPrice" /></span></p>
            </div>
            <div class="awards clearfix">
                <p class="fl left">剩余数量：</p>
                <p class="fl maxValue"><asp:literal runat="server" id="litPurchaseNumber" /></p>
            </div>
            <div class="sp clearfix">
                <p class="fl specifications">
                    <hi:common_skuselector id="skuSelector" runat="server" />
                </p>
            </div>
            <div class="clearfix reset">
                <p class="fl left">购买数量：</p>
                <div class="fl clearfix resetnumber">
                    <span id="spSub">-</span>
                    <input type="tel" value="1" maxlength="2" id="buyNum">
                    <span id="spAdd">+</span>
                    <div class="info font-s text-muted fl">
                        &nbsp;&nbsp;限购：<span id="spStock" style="background: none;float: none;display: inline-block;width: auto;color: #000;font-size: 12px"><asp:literal runat="server" id="litStock" /></span>件
                    </div>
                </div>
            </div>
        </div>
        <div class="good-bargain-list" id="divHelpBargainDetails">
            <p class="look-all"><span class="fr colorl" id="spLoadMore">显示更多&#62;&#62;</span></p>
        </div>
        <div class="shopinfotable">
            <ul class="clearfix">
                <li>商品详情</li>
                <li>
                    <a href="javascript:void(0)" onclick="gotoProductConsultation();">商品咨询(<asp:literal runat="server" id="litProductConsultationTotal" />)</a>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="gotoProductReview();">商品评论(<asp:literal runat="server" id="litProductCommentTotal" />)</a>
                </li>
            </ul>
            <div class="textinfo">
                <p><asp:literal runat="server" id="litProductDesc" /></p>
            </div>
        </div>
        <div class="fixednav">
        <ul class="clearfix">
            <li>
                <div class="navinner">
                    <a href="/Default.aspx">
                        <img src="/images/iconfont-dianpu.png">
                        <p>
                            店铺
                        </p>
                    </a> 
                </div>
            </li>
            <li>
                <div class="navinner">
                    <a id="addF" class="y-collection" href="javascript:void(0);" onclick="AddFavorite()"><img src="/images/iconfont-shoucang.png"><p>收藏</p></a>
                    <a id="addedF" class="y-collection active hide" href="javascript:void(0)"><img src="/images/iconfont-shoucang.png"><p>已收藏</p></a>
                </div>
            </li>
            <li>
                <button class="wait" style="background-color: #008000;" id="btnHelpBargain">立即帮砍</button>
            </li>
            <li>
                <button id="btnOpenBargain" type="shoppingBtn" style="background-color: #FF9900;" class="buy">我想买,发起砍价</button>
            </li>
        </ul>
    </div>
    </div>
    <script src="/utility/vproduct.helper.js?201603" type="application/javascript"> </script>
    <script src="/script/swipe.js"></script>
    <script type="text/javascript">
        //分享标题设置
        wxinshare_title = $("#vHelpBargainDetial_hideTitle").val();
        wxinshare_link = location.href;
        wxinshare_desc = $(".h2productName").html();
        wxinshare_imgurl = $("#vHelpBargainDetial_hideImgUrl").val();

        $(function () {
            $('.fixednav').width($('.container').width());
            $(window).resize(function () {
                $('.fixednav').width($('.container').width());
            })

            if ($('#vHelpBargainDetial_hiddHasCollected').val() == "1") {
                $('#addF').addClass('hide');
                $('#addedF').removeClass('hide');
            }

            var slidesImg = $('#slides img');
            var width = 650, height = 650;
            if (slidesImg.length > 1) {
                $('#slides').slidesjs({
                    width: width,
                    height: height,
                    play: {
                        active: true,
                        auto: true,
                        interval: 4000,
                        swap: true
                    }
                });
                $(".slidesjs-play, .slidesjs-stop, .slidesjs-previous, .slidesjs-next").remove();
                $(".slidesjs-pagination li").css("width", function () { return 100 / slidesImg.length + "%" });
            }
            else {

                $('#slides').css('display', 'block').html('<div style="width:100%;"><a href="javascript:;"></a></div>');
                $('#slides div a').append(slidesImg);
            }

            //查看是否已经存在砍价活动
            var data = {};
            data.BargainDetialId = getUrlParam("bargainDetialId");
            data.BargainId = getUrlParam("bargainId");
            ///查看当前用户是否帮忙砍价过
            $.post("/api/VshopProcess.ashx?action=ExistsHelpBargainDetial", data, function (json) {
                if (json.success == "1") {
                    $("#btnHelpBargain").html("已帮忙砍过价").attr("class", "com").attr("style", "");
                }
            });
          
            $.post("/api/VshopProcess.ashx?action=HelpBargainDetial", data, function (json) {
                if (json.success == "1") {
                    //显示进度条
                    $("#divProgressvalue").attr("style", "width:" + json.progress + "%");
                    $("#buyNum").val(json.Number);
                    if (json.Sku != "") {
                        //$(".SKUValueClass[valueid='" + json.Sku + "']").attr("class", 'SKUValueClass active');
                        $("#hiddenSkuId").val(json.Sku);
                        $("#hiddenProductId").val(json.ProductId);
                    }
                    //加载帮忙砍价信息
                    $("#divHelpBargainDetails").html(json.BargainDetialHtml);
                    if (json.SaleStatus != "OnSale")//1：出售 other :已下架
                    {
                        if (json.SaleStatus == "order")//1：已经下订单
                        {
                            $("#btnHelpBargain").html("立即帮砍").attr("class", "com").attr("style", "").unbind("click");
                        }
                        else {
                            $("#btnHelpBargain").html("已下架").attr("class", "com").attr("style", "").unbind("click");
                            $("#btnOpenBargain").attr("class", "com").attr("style", "").unbind("click");
                        }
                    }
                    
                }
                else {
                    if (json.SaleStatus != "OnSale")//1：出售 other :已下架
                    {
                        $("#btnHelpBargain").html("已下架").attr("class", "com").attr("style", "").unbind("click");
                        $("#btnOpenBargain").attr("class", "com").attr("style", "").unbind("click");
                    }
                }
            });
            
           

            //添加购买数量
            $('#spAdd').click(function () {
                var buyNum = parseInt($("#buyNum").val()); 
                var purchaseNumber = parseInt($("#vHelpBargainDetial_hiddPurchaseNumber").val());
                if (buyNum >= purchaseNumber) {
                    $("#buyNum").val(purchaseNumber);
                }
            });
            //发起砍价
            $('#btnOpenBargain').click(function () {
                location.href = "/BargainDetial.aspx?id=" + getUrlParam("bargainId") + "&ReferralId=" + getUrlParam("ReferralId");
            })
            

            //立即帮砍
            $('#btnHelpBargain').click(function () {
                var data = {};
                data.BargainId = getUrlParam("bargainId");
                data.BargainDetialId = getUrlParam("bargainDetialId");
                //提交帮砍数据
                $.post("/api/VshopProcess.ashx?action=HelpBargain", data, function (json) {
                    if (json.success == "0") {//未登录
                        alert_h('您当前还没有登录！', function () {
                            var url = window.location.href;
                            location.href = "/UserLogining.aspx?returnUrl=" + encodeURIComponent(url) + "";
                        });
                    }
                    else if (json.success == "2")//2： 帮砍成功
                    {
                        alert_h(json.msg, function ()
                        {
                            location.reload();
                        });
                    }
                    else {
                        //1：判断只能帮砍一次
                        //3：判断是否是在微信或者支付宝服务窗中打开
                        //4：已经砍刀底价
                        alert_h(json.msg);
                    }
                });
            });

            //发起砍价
            $('#btnBargain').click(function () {
                //验证
                var number = $("#buyNum").val();//购买数量
                var maxnumber = parseInt($("#vHelpBargainDetial_hiddPurchaseNumber").val());//最大购买数量
                if (number > maxnumber){
                    alert_h("活动库存不足 " + number + " 件，请修改购买数量!");
                    return;
                }
                if (!IsallSelected()) {
                    alert_h("请先选择您要购买的商品规格!");
                    return false;
                }
                var quantity = parseInt($("#buyNum").val());
                var stock = parseInt($("#spStock").html());
                if (isNaN(stock) || stock == 0) {
                    alert_h("该规格的产品没有库存，请选择其它的规格！");
                    return false;
                }
                if (quantity > stock) {
                    alert_h("商品库存不足 " + quantity + " 件，请修改购买数量!");
                    return false;
                }


                //发送请求
                var data = {};
                data.BargainId = getUrlParam("bargainId");
                data.number = number;
                $.post("/api/VshopProcess.ashx?action=OpenBargain", data, function (json) {
                    if (json.success == "true") {
                        alert_h("发起成功");
                    }
                    else {
                        alert_h('您当前还没有登录！', function () {
                            var url = window.location.href;
                            location.href = "/UserLogining.aspx?returnUrl=" + encodeURIComponent(url) + "";
                        });
                    }
                });
            });
        })
    </script>
<hi:common_footer runat="server" />
