<hi:common_header runat="server" />
     <div class="pbox well">
        <div class="description">
          <strong>如何操作</strong>
          <div>
           <p>1.将图片保存到手机;</p>
           <p>2.复制图片上方文字</p>
           <p>3.在微信里点击"发现"-->"朋友圈"-->点击右上方"拍摄图标"选择以保存的图片-->点击"完成"按钮;</p>
           <p>4.把文本贴到文本框里</p>
           <p>5.点击发送按钮即可发送完成</p>
           <br>   
          </div>   
       </div>
    </div>
<script>
    //禁用右上角菜单
    //document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
    //    WeixinJSBridge.call('hideOptionMenu');
    //});
</script>
<script type="text/javascript">
     
</script>
<!--<Hi:Common_Footer runat="server" />-->

