<hi:common_header runat="server" />
<div class="pbox well" style="padding:10px;">
    <form id="form" role="form" class="clearfix apply">
        <div class="form-group">
            <label for="phone">手机号码</label>
            <input id="txtPhone" type="text" runat="server" clientidmode="Static" class="form-control">
        </div>
        <div class="form-group">
            <label for="phone">真实姓名</label>
            <input id="txtRealName" type="text" runat="server" clientidmode="Static" class="form-control">
        </div>
        <div class="form-group">
            <label for="phone">微信号</label>
            <input id="txtMicroSignal" type="text" runat="server" clientidmode="Static" class="form-control">
        </div>
       
    </form>
</div>
 
<div class="pbox"><button id="btnSetUserName" type="button" class="btn btn-danger btn-block">保存资料</button></div>

 

<script type="text/javascript">
    $(document).ready(function () {

        $("#btnSetUserName").bind("click", function () { SetUserName(); });
        if (getParam('edit'))
            $('#firstLoginNote').hide();

    });

  
    function SetUserName() {
        $.ajax({
            url: "/API/VshopProcess.ashx",
            type: 'post', dataType: 'json', timeout: 10000,
            data: { action: "SetDistributorMsg", RealName: $("#txtRealName").val(), CellPhone: $("#txtPhone").val(), MicroSignal: $("#txtMicroSignal").val() },
            success: function (resultData) {
                if (resultData.Status == "OK") {
                    alert_h("修改用户信息成功", function () {
                        location.href = "/Vshop/DistributorCenter.aspx";
                    });

                }
                else {
                    alert_h("修改用户信息失败, 请重试");
                }
            }
        });
    }
  
</script>
<script>
    //禁用右上角菜单
    //document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
    //    WeixinJSBridge.call('hideOptionMenu');
    //});
</script>
<hi:common_footer runat="server" />