   <hi:common_header runat="server" />
      <style>
            html, body {
                min-height: 100%;
                font-family: "微软雅黑";
                overflow-x: hidden;
            }

            .container {
                max-width: 640px;
                min-height: 100%;
                padding: 0;
                background-color: #F8F8F8;
            }

                .container header {
                    height: 50px;
                    padding-top: 5px;
                    border-bottom: 1px solid #B8B8B8;
                }

                    .container header ul li {
                        float: left;
                        height: 45px;
                        line-height: 45px;
                        width: 33.3333%;
                        text-align: center;
                        font-size: 12px;
                    }

                        .container header ul li a {
                            color: #2C2B30;
                        }

                        .container header ul li.active {
                            border-bottom: 2px solid #D61716;
                        }

                            .container header ul li.active a {
                                color: #D94444;
                            }

                .container .memberinfolistbox {
                    padding: 15px 5px 5px 5px;
                }

                    .container .memberinfolistbox ul li {
                        position: relative;
                        border: 1px solid #DBDBDB;
                        border-radius: 4px;
                        margin-bottom: 10px;
                    }

                        .container .memberinfolistbox ul li:last-child {
                            margin-bottom: 0;
                        }

                        .container .memberinfolistbox ul li .userinfobox {
                            padding: 8px 3px;
                            position: relative;
                        }

                        .container .memberinfolistbox ul li h3 {
                            background-color: #DAECFF;
                            height: 30px;
                            line-height: 30px;
                            font-size: 12px;
                            text-indent: 5px;
                            color: #C35E20;
                        }

            .userinfobox .userimg {
                position: absolute;
                left: 3px;
                top: 8px;
            }

                .userinfobox .userimg img {
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                }

            .userinfobox .usertextinfo {
                margin-left: 35px;
            }

                .userinfobox .usertextinfo > div {
                    width: 50%;
                    float: left;
                }

                    .userinfobox .usertextinfo > div p span.colorc {
                        color: #A9A9A9;
                    }

                    .userinfobox .usertextinfo > div p:first-child {
                        margin-bottom: 3px;
                    }

                    .userinfobox .usertextinfo > div p span.colorg {
                        color: #E05C5B;
                    }

            .container .memberinfolistbox ul li span.radius {
                position: absolute;
                top: 24px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                border: 1px solid #DBDBDB;
                background-color: #F8F8F8;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }

                .container .memberinfolistbox ul li span.radius.left {
                    left: -5px;
                    border-left-color: transparent;
                    border-top-color: transparent;
                }

                .container .memberinfolistbox ul li span.radius.right {
                    right: -5px;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                }
        </style>
      <script type="text/javascript">
            //获取url中的参数
            function getUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                if (r != null) return unescape(r[2]); return null; //返回参数值
            }
      </script>

      <script type="text/javascript">
            $(function () {
                var flag = false;
                $(document).on('scroll', function (evt) {
                    var elementT = $('.loading').offset().top;
                    if ($(document).scrollTop() + $(window).height() >= elementT) {
                        var index = $('#hiddPageIndex').val();
                        if (!flag) {
                            flag = true;
                            $.ajax({
                                url: "/api/VshopProcess.ashx",
                                type: "post",
                                data: "action=GetSecondDistributors" + "&PageIndex=" + index + "&gradeId=" + getUrlParam("gradeId") + "&ReferralId=" + getUrlParam("ReferralId"),
                                datatype: "json",
                                success: function (json) {
                                    if (json.success) {
                                        var rowtoatl = parseInt(json.rowtotal);
                                        if (rowtoatl == 10) {
                                            flag = false;
                                        } else {
                                            $('.loading').html('');
                                        }
                                        $("#ulChirldrenStores").append(json.lihtml);
                                        $("#hiddPageIndex").val(parseInt(index) + 1);
                                    } else {
                                    }
                                }
                            })
                        }
                    }
                })
                var total = parseInt($("#hiddTotal").val());
                if (total < 10) {
                    flag = true;
                    $('.loading').html('');
                }
            })
       </script>

      <input type="hidden" runat="server" clientidmode="Static" value="0" id="hiddTotal">
      <input type="hidden" runat="server" clientidmode="Static" value="0" id="hiddPageIndex">
      <div class="container">
          <div id="distributor" class="memberinfolistbox">
              <ul id="ulChirldrenStores">
                  <hi:vshoptemplatedrepeater id="rpdistributor" templatefile="/Tags/Skin-Common-ChirldrenDistributorStores.ascx" runat="server" />
              </ul>
          </div>
          <div class="loading">
              <span>正在加载中····</span>
          </div>
     </div>  
    <script>
        var gradeId = getParam('gradeId');
        if (gradeId == '3') {
            $(".clearfix li:eq(2)").addClass("active");
        }
        if (gradeId == '2')
        {
            $(".clearfix li:eq(1)").addClass("active");
        }
    </script> 
    <hi:common_footer runat="server" />   