<hi:common_header runat="server" />
<link href="/style/ResourceNotFound.css" rel="stylesheet" />
<div class="container" style="background: url(/images/error<Hi:HiLiteral runat="server" ID="litImgIndex" />.png) no-repeat center top #F1F5F6; background-size: 80%; ">
    <div class="errortext">
        <h2><Hi:HiLiteral runat="server" ID="litDescription" /></h2>
        <a class="bg1" href="ProductList.aspx">商城继续逛逛</a>
        <a href="Vshop/MemberCenter.aspx">个人中心逛逛</a>
        <a href="Vshop/ShoppingCart.aspx">去购物车结算</a>
    </div>
</div>
