<Hi:Common_Header runat="server" />
<div class="index-img"> <asp:literal id="litdescription" runat="server"></asp:literal></div>
<div class="pbox ">
    <div class="row" id="products">
        <hi:vshoptemplatedrepeater id="rptProducts" templatefile="/Tags/skin-Common_ActivityProducts.ascx"
            runat="server" />
    </div>
 
 
</div>
<!-- <p class="text-center"><a href="#">点击查看更多>></a></p>-->
<script type="text/javascript">
    $(function () {
      
    });

</script>
 
<Hi:Common_Footer runat="server" />
