<hi:common_header runat="server" />
<div class="pbox well" id="DivPwd" style="padding:10px;">

    <div class="form-group">
        <label for="phone">原密码</label>
        <input id="txtOldPwd" type="password" placeholder="输入原密码" clientidmode="Static" class="form-control">
    </div>
    <div class="form-group">
        <label for="phone">新密码</label>
        <input id="txtNewPwd" type="password" placeholder="输入6-15位数密码" clientidmode="Static" class="form-control">
    </div>
    <div class="form-group">
        <label for="phone">确认密码</label>
        <input id="txtAgainNewPwd" type="password" placeholder="输入6-15位数密码" clientidmode="Static" class="form-control">
    </div>
    <div class="pbox"><button id="btnEditpwd" type="button" class="btn btn-danger btn-block">确定修改</button></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnEditpwd").bind("click", function () { EditPassword(); });
    });
   
    function EditPassword() {
        var oldPwd = $.trim($("#txtOldPwd").val());
        var password = $.trim($("#txtNewPwd").val());
        var passagain = $.trim($("#txtAgainNewPwd").val());

        if (oldPwd.length < 6) {
            alert_h('原密码至少要6个字符');
            return;
        }
        if (password.length < 6) {
            alert_h('密码至少要6个字符');
            return;
        }
        if (oldPwd == "") {
            alert_h("原密码不能为空！");
            return;
        }
        if (password == "") {
            alert_h("新密码不能为空！");
            return;
        }
        if (passagain == "") {
            alert_h("确认密码不能为空！");
            return;
        }
        $.ajax({
            url: "/API/VshopProcess.ashx",
            type: 'post', dataType: 'json', timeout: 10000,
            data: { action: "EditPassword", oldPwd: $("#txtOldPwd").val(), password: $("#txtNewPwd").val(), passagain: $("#txtAgainNewPwd").val() },
            success: function (resultData) {
                if (resultData.Status == "OK") {
                    alert_h("密码成功！", function () {
                        $("#txtOldPwd").val("");
                        $("#txtNewPwd").val("");
                        $("#txtAgainNewPwd").val("");
                        window.location.href = "MemberCenter.aspx";
                    });
                }
                else {
                    if (resultData.Status == "-1") {
                        alert_h("用户不存在！");
                    }
                    else if (resultData.Status == "-5") {
                        alert_h("用户名未绑定，请先绑定用户名！");
                        window.location.href = "/BindUserMessage.aspx?returnUrl=/Vshop/UserInfo.aspx";
                    }
                    else if (resultData.Status == "-3") {
                        alert_h("密码修改失败！");
                    }
                    else if (resultData.Status == "-4") {
                        alert_h("原密码错误！");
                    }
                    else {
                        alert_h("两次密码输入不正确！");
                    }

                }
            }
        });
    }
   
</script>
<script>
    //禁用右上角菜单
    //document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
    //    WeixinJSBridge.call('hideOptionMenu');
    //});
</script>
<hi:common_footer runat="server" />
