<!doctype html>
<html lang="zh-CN">
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="/script/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="/Utility/bootflat/css/bootstrap.min.css" rev="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Utility/bootflat/bootflat/css/bootflat.min.css" rev="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Utility/icomoon/style.css" rev="stylesheet" type="text/css">
    <link rel="stylesheet" href="../style/red_css_maskayer_main_menu.css?v3.3001" type="text/css">
    <script src="/Utility/WeixinApi.js?v=3.7"></script>
    <script src="/Utility/uploadImage/jquery.form.js"></script>
    <script src="/Utility/uploadImage/uploadPreview.js"></script>
    <script src="/Admin/shop/Public/js/dist/underscore.js"></script>
    <script src="/Utility/ShowIndex.js"></script>


    <link rel="stylesheet" href="../style/main.css" rev="stylesheet" type="text/css">
    <script src="/Utility/bootflat/js/bootstrap.min.js"></script>
    <script src="/Utility/jquery.cookie.js"></script>
    <script src="../script/icheck.min.js"></script>
    <script src="/script/main.js"></script>
    <hi:pagetitle runat="server" />
</head>
<body>
