<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="VERO">
                            
                            
                            <img src="/Templates/vshop/t16/images/tu1@2x.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="VERO">
                            
                            
                            <img src="/Templates/vshop/t16/images/tu1@2x.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="VERO">
                            
                            
                            <img src="/Templates/vshop/t16/images/tu2@2x.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="VERO">
                            
                            
                            <img src="/Templates/vshop/t16/images/tu3@2x.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="VERO">
                            
                            
                            <img src="/Templates/vshop/t16/images/tu4@2x.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    