<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <AppId>59TPykyDKZZXkmwuj8</AppId>
  <AppSecret>h2cvORNnFvjijvFRHxZxGl2Het0mGl94</AppSecret>
  <!-- 企业ID -->
  <unitid></unitid>
  <unit></unit>
  <password></password>
  <unitname>
  </unitname>
  <activated>
  </activated>
  <logo>
  </logo>
  <url>
  </url>
  <tel>
  </tel>
  <contact>
  </contact>
  <location>
  </location>
</Settings>