<?xml version="1.0" encoding="utf-8"?>
<Hishop>
  <Core
		 smtpServerConnectionLimit="-1"
		 ssl = "Ignore"
     usernameMinLength="2"
     usernameMaxLength="20"
     usernameRegex="[\u4e00-\u9fa5a-zA-Z0-9]+[\u4e00-\u9fa5_a-zA-Z0-9]*"
     emailEncoding="utf-8"
     shippingAddressQuantity="5"
     passwordMaxLength="20"
     emailRegex="([a-zA-Z\.0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,4}){1,2})"
     adminFolder="admin"
		   >

    <appLocation>
      <!--
		pattern:应用程序地址模式，需要和SiteUrls.config中locations.location节的path匹配，这样才能跟踪到应用程序地址
		name:地址名称
		type:对应ApplicationType中的类型
		 -->
      <add pattern = "/admin" name = "admin" type = "Admin" />
      <add pattern = "/installer" name = "installer" type = "Installer" />
      <add pattern = "/" name = "common" type = "Common" />
    </appLocation>
  </Core>

  <Extensions>
  </Extensions>

  <Jobs minutes = "1" singleThread = "true">
    <job name = "Emails" singleThread = "false" minutes = "1" type = "Hidistro.Jobs.EmailJob, Hidistro.Jobs" enabled = "true" enableShutDown = "false" failureInterval = "15" numberOfTries = "5" />
    <job name = "ShoppingCart" minutes = "10" singleThread = "true" type = "Hidistro.Jobs.CartJob, Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "Order" minutes = "10" singleThread = "true" type = "Hidistro.Jobs.OrderJob,Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "GroupBuy" minutes = "5" singleThread = "true" type = "Hidistro.Jobs.GroupBuyJob, Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "Coupon" minutes = "30" singleThread = "true" type = "Hidistro.Jobs.CouponJob, Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
  </Jobs>
</Hishop>