<?xml version="1.0" encoding="utf-8"?>
<SiteUrls enableHtmRewrite="false" extension=".htm">
  <locations>
    <location name="admin" path="/admin" exclude="true" />
    <location name="installer" path="/installer/" exclude="true" />
    <location name="user" path="/user/" exclude="true" />
    <location name="common" path="/" />
  </locations>
  <transformers>
    <add key="^" value="&amp;" />
  </transformers>
  <urls>
    <url name="home" location="common" htmRewrite="true" path=" " />
    <url name="sendPayment" location="common" path="SendPayment.aspx?orderId={0}" />
    <url name="favicon" location="common" path="favicon.ico" />
    <url name="loadingImage" location="common" path="utility/spinner.gif" />
    <url name="logout" location="common" path="logout.aspx" />
    <url name="termsOfService" location="common" path="protocol.aspx" />
    <url name="vote" location="common" path="VoteList.aspx" />
    <url name="VoteResult" location="common" path="VoteResult.aspx" />
    <url name="VoteResults" location="common" path="VoteResult.aspx?VoteId={0}" />
    <url name="register" location="common" path="Register.aspx" />
    <url name="registerUserSave" location="common" path="RegisterUserSave.aspx" />
    <url name="ForgotPassword" location="common" path="ForgotPassword.aspx" />
    <url name="ForgotPasswordSuccess" location="common" path="ForgotPasswordSuccess.aspx" />
    <url name="BlogIt" location="common" path="BlogIt.aspx?ProductId={0}" />
    <url name="IntroducedToFriend" location="common" path="IntroducedToFriend.aspx?ProductId={0}" />
    <url name="ProductConsultations" location="common" path="ProductConsultations.aspx?ProductId={0}" />
    <url name="brand" location="common" path="Brand.aspx" />
    <url name="branddetails" location="common" htmRewrite="true" path="brand/brand_detail-{0}.aspx" pattern="brand/brand_detail-(\d+).aspx" vanity="BrandDetails.aspx?brandId=$1" />
    <url name="branddetails_Rewrite" location="common" htmRewrite="true" path="{1}/brand_detail-{0}.aspx" pattern="(.*)/brand_detail-(\d+).aspx" vanity="BrandDetails.aspx?rewrite=$1^brandId=$2" />
    <url name="shoppingCart" location="common" path="ShoppingCart.aspx" />
    <url name="productunslaes" location="common" path="ProductUnSales.aspx" />
    <url name="addshoppingCart" location="common" path="ShoppingCart.aspx?CartItemType={0}^SKU={1}" />
    <url name="FinishOrder" location="common" path="FinishOrder.aspx?orderId={0}" />
    <url name="cardOrderPayment" location="common" path="CardOrderPayment.aspx?orderId={0}" />
    <url name="shippingMode" location="common" path="ShippingMode.aspx" />
    <url name="shippingPayment" location="common" path="ShippingPaymentMode.aspx" />
    <url name="submitOrder" location="common" path="SubmmitOrder.aspx" />
    <url name="subCategory" location="common" htmRewrite="true" path="browse/category-{0}.aspx" pattern="browse/category-(\d+).aspx" vanity="SubCategory.aspx?categoryId=$1" />
    <url name="subCategory_Rewrite" location="common" htmRewrite="true" path="{1}/category-{0}.aspx" pattern="(.*)/category-(\d+).aspx" vanity="SubCategory.aspx?rewrite=$1^categoryId=$2" />
    <url name="Articles" location="common" path="Articles.aspx?CategoryId={0}" />
    <url name="AllArticles" location="common" path="Articles.aspx" />
    <url name="Affiches" location="common" path="Affiches.aspx" />
    <url name="ArticleDetails" location="common" htmRewrite="true" path="article/show-{0}.aspx" pattern="article/show-(\d+).aspx" vanity="ArticleDetails.aspx?articleId=$1" />
    <url name="AffichesDetails" location="common" htmRewrite="true" path="affiche/show-{0}.aspx" pattern="affiche/show-(\d+).aspx" vanity="AffichesDetails.aspx?afficheId=$1" />
    <url name="FavourableDetails" location="common" path="Favourable/show-{0}.aspx" pattern="Favourable/show-(\d+).aspx" vanity="FavourableDetails.aspx?activityId=$1" />
    <url name="AllHelps" location="common" path="Helps.aspx" />
    <url name="Helps" location="common" path="Helps.aspx?CategoryId={0}" />
    <url name="Promotes" location="common" path="Promotes.aspx?PromoteType={0}" />
    <url name="HelpDetails" location="common" htmRewrite="true" path="help/show-{0}.aspx" pattern="help/show-(\d+).aspx" vanity="HelpDetails.aspx?helpId=$1" />
    <url name="ProductImages" location="common" path="ProductImages.aspx?ProductId={0}" />
    <url name="ProductNotify" location="common" path="ProductNotify.aspx?ProductId={0}" />
    <url name="productDetails" location="common" htmRewrite="true" path="product_detail-{0}.aspx" pattern="product_detail-(\d+).aspx" vanity="ProductDetails.aspx?productId=$1" />
    <url name="unproductdetails" location="common" htmRewrite="true" path="un_product_detail-{0}.aspx" pattern="un_product_detail-(\d+).aspx" vanity="UnProductDetails.aspx?productId=$1" />
    <url name="groupBuyProductDetails" location="common" htmRewrite="true" path="groupbuyproduct_detail-{0}.aspx" pattern="groupbuyproduct_detail-(\d+).aspx" vanity="GroupBuyProductDetails.aspx?productId=$1" />
    <url name="countdownProductsDetails" location="common" htmRewrite="true" path="countdownproduct_detail-{0}.aspx" pattern="countdownproduct_detail-(\d+).aspx" vanity="CountDownProductsDetails.aspx?productId=$1" />
    <url name="LeaveComments" location="common" path="LeaveComments.aspx" />
    <url name="Category" location="common" path="Category.aspx" />
    <url name="login_clean" location="common" path="login.aspx" />
    <url name="login" location="common" path="login.aspx?ReturnUrl={0}" />
    <url name="distributorLogin" location="common" path="Shopadmin/DistributorLogin.aspx" />
    <url name="productReviews" location="common" path="ProductReviews.aspx?productId={0}" />
    <url name="PaymentReturn_url" location="common" path="pay/PaymentReturn_url_{0}.aspx" pattern="pay/PaymentReturn_url_(.*).aspx" vanity="pay/PaymentReturn_url.aspx?HIGW=$1" />
    <url name="PaymentNotify_url" location="common" path="pay/PaymentNotify_url_{0}.aspx" pattern="pay/PaymentNotify_url_(.*).aspx" vanity="pay/PaymentNotify_url.aspx?HIGW=$1" />
    <url name="InpourNotify_url" location="common" path="pay/inpourNotify_url_{0}.aspx" pattern="pay/inpourNotify_url_(.*).aspx" vanity="pay/inpourNotify_url.aspx?HIGW=$1" />
    <url name="InpourReturn_url" location="common" path="pay/inpourReturn_url_{0}.aspx" pattern="pay/inpourReturn_url_(.*).aspx" vanity="pay/inpourReturn_url.aspx?HIGW=$1" />
    <url name="OpenIdEntry_url" location="common" path="openid/OpenIdEntry_{0}.aspx" pattern="openid/OpenIdEntry_(.*).aspx" vanity="openid/OpenIdEntry.aspx?HIGW=$1" />
    <url name="LogisticsAddress_url" location="common" path="openid/LogisticsAddress_url.aspx" />
    <url name="GroupBuyProducts" location="common" path="GroupBuyProducts.aspx" />
    <url name="CountDownProducts" location="common" path="CountDownProducts.aspx" />
    <url name="BundlingProducts" location="common" path="BundlingProducts.aspx" />
    <url name="OnlineGifts" location="common" path="OnlineGifts.aspx" />
    <url name="GiftDetails" location="common" htmRewrite="true" path="gift/show-{0}.aspx" pattern="gift/show-(\d+).aspx" vanity="GiftDetails.aspx?giftId=$1" />
    <!--账户中心-->
    <url name="user_OrderDetails" location="User" path="OrderDetails.aspx?OrderId={0}" />
    <url name="user_OrderReviews" location="User" path="OrderReviews.aspx?OrderId={0}" />
    <url name="user_Favorites" location="User" path="Favorites.aspx?ProductId={0}" />
    <url name="user_MyCoupons" location="User" path="MyCoupons.aspx" />
    <url name="user_MyChangeCoupons" location="User" path="MyChangeCoupons.aspx" />
    <url name="user_UpdatePassword" location="User" path="UpdatePassword.aspx" />
    <url name="user_UserOrders" location="User" path="UserOrders.aspx" />
    <url name="user_UserPoints" location="User" path="UserPoints.aspx" />
    <url name="user_UserProductReviews" location="User" path="UserProductReviews.aspx" />
    <url name="user_UserBatchBuy" location="User" path="UserBatchBuy.aspx" />
    <url name="user_UserProfile" location="User" path="UserProfile.aspx" />
    <url name="user_UserShippingAddresses" location="User" path="UserShippingAddresses.aspx" />
    <url name="user_UserConsultations" location="User" path="UserConsultations.aspx" />
    <url name="user_UserConsultationsNotReverted" location="User" path="UserConsultationsNotReverted.aspx" />
    <url name="user_RechargeRequest" location="User" path="RechargeRequest.aspx" />
    <url name="user_RechargeConfirm" location="User" path="RechargeConfirm.aspx?modeId={0}^blance={1}" />
    <url name="user_MyAccountSummary" location="User" path="MyAccountSummary.aspx" />
    <url name="user_OpenBalance" location="User" path="OpenBalance.aspx" />
    <url name="user_MyBalanceDetails" location="User" path="MyBalanceDetails.aspx" />
    <url name="user_ReferralMembers" location="User" path="ReferralMembers.aspx" />
    <url name="user_RequestBalanceDraw" location="User" path="RequestBalanceDraw.aspx" />
    <url name="user_RequestBalanceDrawConfirm" location="User" path="RequestBalanceDrawConfirm.aspx?bankName={0}^accountName={1}^merchantCode={2}^amount={3}^remark={4}" />
    <url name="advance_pay" location="User" path="pay.aspx?OrderId={0}" />
    <url name="bank_pay" location="User" path="bank.aspx?OrderId={0}" />
    <url name="user_UserReceivedMessages" location="User" path="UserReceivedMessages.aspx" />
    <url name="user_UserSendedMessages" location="User" path="UserSendedMessages.aspx" />
    <url name="user_UserSendMessage" location="User" path="UserSendMessage.aspx" />
    <url name="user_UserDefault" location="User" path="UserDefault.aspx" />
    <url name="user_UpdateTranPassword" location="User" path="UpdateTranPassword.aspx" />
    <url name="user_UpdatePasswordProtection" location="User" path="UpdatePasswordProtection.aspx" />
    <url name="user_UserRefundApply" location="User" path="UserRefundApply.aspx" />
    <url name="user_UserReturnsApply" location="User" path="UserReturnsApply.aspx" />
    <url name="user_UserReplaceApply" location="User" path="UserReplaceApply.aspx" />
    <!-- 充值 -->
    <url name="DistributorInpourReturn_url" location="common" path="pay/DistributorInpourReturn_url_{0}.aspx" pattern="pay/DistributorInpourReturn_url_(.*).aspx" vanity="pay/DistributorInpourReturn_url.aspx?HIGW=$1" />
    <url name="DistributorInpourNotify_url" location="common" path="pay/DistributorInpourNotify_url_{0}.aspx" pattern="pay/DistributorInpourNotify_url_(.*).aspx" vanity="pay/DistributorInpourNotify_url.aspx?HIGW=$1" />
    <!---->
    <url name="DistributorPaymentNotify_url" location="common" path="pay/DistributorPaymentNotify_url_{0}.aspx" pattern="pay/DistributorPaymentNotify_url_(.*).aspx" vanity="pay/DistributorPaymentNotify_url.aspx?HIGW=$1" />
    <!--通淘宝-->
    <url name="MakeTaobaoProductData_url" location="common" path="API/MakeTaobaoProductData_url.aspx" />
  </urls>
</SiteUrls>