<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <SiteUrl>localhost</SiteUrl>
  <Theme>default</Theme>
  <VTheme>t1</VTheme>
  <ServiceMeiQia>
  </ServiceMeiQia>
  <DecimalLength>2</DecimalLength>
  <DefaultProductImage>/utility/pics/none.gif</DefaultProductImage>
  <DefaultProductThumbnail1>/utility/pics/none.gif</DefaultProductThumbnail1>
  <DefaultProductThumbnail2>/utility/pics/none.gif</DefaultProductThumbnail2>
  <DefaultProductThumbnail3>/utility/pics/none.gif</DefaultProductThumbnail3>
  <DefaultProductThumbnail4>/utility/pics/none.gif</DefaultProductThumbnail4>
  <DefaultProductThumbnail5>/utility/pics/none.gif</DefaultProductThumbnail5>
  <DefaultProductThumbnail6>/utility/pics/none.gif</DefaultProductThumbnail6>
  <DefaultProductThumbnail7>/utility/pics/none.gif</DefaultProductThumbnail7>
  <DefaultProductThumbnail8>/utility/pics/none.gif</DefaultProductThumbnail8>
  <App_Secret>836e49139e90c64f21251a6dec9c2cca</App_Secret>
  <CheckCode>7103026F97B9679224D8D7BEBB294AD4BD78184D</CheckCode>
  <Access_Token>
  </Access_Token>
  <Disabled>false</Disabled>
  <Footer>
  </Footer>
  <RegisterAgreement>
  </RegisterAgreement>
  <ShopTel>
  </ShopTel>
  <LogoUrl>/utility/pics/logo.jpg</LogoUrl>
  <OrderShowDays>7</OrderShowDays>
  <ShowCopyRight>
  </ShowCopyRight>
  <CloseOrderDays>3</CloseOrderDays>
  <FinishOrderDays>7</FinishOrderDays>
  <MaxReturnedDays>15</MaxReturnedDays>
  <TaxRate>0</TaxRate>
  <PointsRate>1.00</PointsRate>
  <SiteName>普方分销</SiteName>
  <YourPriceName>
  </YourPriceName>
  <EmailSender>
  </EmailSender>
  <EmailSettings>
  </EmailSettings>
  <SMSSender>
  </SMSSender>
  <SMSSettings>
  </SMSSettings>
  <EnabledCnzz>false</EnabledCnzz>
  <CnzzUsername>
  </CnzzUsername>
  <CnzzPassword>
  </CnzzPassword>
  <WeixinAppId>
  </WeixinAppId>
  <WeixinAppSecret>
  </WeixinAppSecret>
  <WeixinPaySignKey>
  </WeixinPaySignKey>
  <WeixinPartnerID>
  </WeixinPartnerID>
  <WeixinPartnerKey>
  </WeixinPartnerKey>
  <IsValidationService>true</IsValidationService>
  <IsAutoToLogin>false</IsAutoToLogin>
  <WeixinToken>9DB0E865783342E0</WeixinToken>
  <WeixinNumber>
  </WeixinNumber>
  <WeixinLoginUrl>
  </WeixinLoginUrl>
  <WeiXinCodeImageUrl>/Storage/master/WeiXinCodeImageUrl.jpg</WeiXinCodeImageUrl>
  <VipCardBG>/Storage/master/Vipcard/vipbg.png</VipCardBG>
  <VipCardLogo>
  </VipCardLogo>
  <VipCardQR>/Storage/master/Vipcard/vipqr.jpg</VipCardQR>
  <VipCardPrefix>100000</VipCardPrefix>
  <VipCardName>
  </VipCardName>
  <VipRequireName>true</VipRequireName>
  <VipRequireMobile>true</VipRequireMobile>
  <CustomReply>true</CustomReply>
  <EnableSaleService>false</EnableSaleService>
  <ByRemind>true</ByRemind>
  <ShopMenuStyle>1</ShopMenuStyle>
  <EnableShopMenu>true</EnableShopMenu>
  <ShopDefault>true</ShopDefault>
  <MemberDefault>true</MemberDefault>
  <GoodsType>true</GoodsType>
  <GoodsCheck>true</GoodsCheck>
  <ActivityMenu>true</ActivityMenu>
  <DistributorsMenu>true</DistributorsMenu>
  <GoodsListMenu>true</GoodsListMenu>
  <BrandMenu>true</BrandMenu>
  <SubscribeReply>true</SubscribeReply>
  <VipRequireQQ>false</VipRequireQQ>
  <VipRequireAdress>false</VipRequireAdress>
  <VipEnableCoupon>false</VipEnableCoupon>
  <VipRemark>
  </VipRemark>
  <EnablePodRequest>false</EnablePodRequest>
  <EnableCommission>true</EnableCommission>
  <EnableAlipayRequest>false</EnableAlipayRequest>
  <EnableWeiXinRequest>false</EnableWeiXinRequest>
  <EnableOffLineRequest>true</EnableOffLineRequest>
  <EnableWapShengPay>false</EnableWapShengPay>
  <OffLinePayContent>&lt;p&gt;请填写在线支付帮助内容&lt;/p&gt;</OffLinePayContent>
  <DistributorDescription>&lt;p&gt;&lt;img src="/utility/pics/fxs.png" title="fenxiao.png" alt="fenxiao.png"/&gt;&lt;/p&gt;</DistributorDescription>
  <DistributorBackgroundPic>/Storage/data/DistributorBackgroundPic/default.jpg|</DistributorBackgroundPic>
  <DistributorLogoPic>/utility/pics/headLogo.jpg</DistributorLogoPic>
  <SaleService>&lt;p&gt;请填写售后服务内容&lt;/p&gt;</SaleService>
  <MentionNowMoney>1</MentionNowMoney>
  <ShopIntroduction>
  </ShopIntroduction>
  <ApplicationDescription>
  </ApplicationDescription>
  <AliPayFuwuGuidePageSet>
  </AliPayFuwuGuidePageSet>
  <EnableAliPayFuwuGuidePageSet>false</EnableAliPayFuwuGuidePageSet>
  <GuidePageSet>
  </GuidePageSet>
  <EnableGuidePageSet>false</EnableGuidePageSet>
  <ManageOpenID>
  </ManageOpenID>
  <WeixinCertPath>
  </WeixinCertPath>
  <WeixinCertPassword>
  </WeixinCertPassword>
  <GoodsPic>
  </GoodsPic>
  <GoodsName>
  </GoodsName>
  <GoodsDescription>
  </GoodsDescription>
  <ShopHomePic>
  </ShopHomePic>
  <ShopHomeName>
  </ShopHomeName>
  <ShopHomeDescription>
  </ShopHomeDescription>
  <ShopSpreadingCodePic>
  </ShopSpreadingCodePic>
  <ShopSpreadingCodeName>
  </ShopSpreadingCodeName>
  <ShopSpreadingCodeDescription>
  </ShopSpreadingCodeDescription>
  <OpenManyService>false</OpenManyService>
  <IsRequestDistributor>false</IsRequestDistributor>
  <FinishedOrderMoney>0</FinishedOrderMoney>
  <DistributorApplicationCondition>false</DistributorApplicationCondition>
  <EnableDistributorApplicationCondition>false</EnableDistributorApplicationCondition>
  <DistributorProducts>
  </DistributorProducts>
  <DistributorProductsDate>
  </DistributorProductsDate>
  <RegisterDistributorsPoints>0</RegisterDistributorsPoints>
  <OrdersPoints>0</OrdersPoints>
  <ChinaBank_Enable>false</ChinaBank_Enable>
  <ChinaBank_DES>
  </ChinaBank_DES>
  <ChinaBank_MD5>
  </ChinaBank_MD5>
  <ChinaBank_mid>
  </ChinaBank_mid>
  <Alipay_Key>
  </Alipay_Key>
  <Alipay_mid>
  </Alipay_mid>
  <Alipay_mName>
  </Alipay_mName>
  <Alipay_Pid>
  </Alipay_Pid>
  <OfflinePay_Alipay_id>
  </OfflinePay_Alipay_id>
  <OfflinePay_BankCard_Name>
  </OfflinePay_BankCard_Name>
  <OfflinePay_BankCard_BankName>
  </OfflinePay_BankCard_BankName>
  <OfflinePay_BankCard_CardNo>
  </OfflinePay_BankCard_CardNo>
  <ShenPay_mid>
  </ShenPay_mid>
  <ShenPay_key>
  </ShenPay_key>
  <EnableWeixinRed>false</EnableWeixinRed>
  <MemberRoleContent>
  </MemberRoleContent>
  <sign_EverDayScore>50</sign_EverDayScore>
  <sign_StraightDay>2</sign_StraightDay>
  <sign_RewardScore>20</sign_RewardScore>
  <sign_score_Enable>true</sign_score_Enable>
  <open_signContinuity>false</open_signContinuity>
  <shopping_score_Enable>true</shopping_score_Enable>
  <shopping_reward_Enable>true</shopping_reward_Enable>
  <shopping_Score>100</shopping_Score>
  <shopping_reward_OrderValue>100.00</shopping_reward_OrderValue>
  <shopping_reward_Score>1</shopping_reward_Score>
  <share_score_Enable>true</share_score_Enable>
  <share_Score>100</share_Score>
  <PonitToCash_Enable>true</PonitToCash_Enable>
  <PointToCashRate>100</PointToCashRate>
  <PonitToCash_MaxAmount>1000.00</PonitToCash_MaxAmount>
  <DrawPayType>1|0|2|3</DrawPayType>
  <BatchAliPay>true</BatchAliPay>
  <BatchWeixinPay>true</BatchWeixinPay>
  <BatchWeixinPayCheckRealName>0</BatchWeixinPayCheckRealName>
  <ShareAct_Enable>true</ShareAct_Enable>
  <SignWhere>10</SignWhere>
  <SignWherePoint>10</SignWherePoint>
  <SignPoint>10</SignPoint>
  <ActiveDay>1</ActiveDay>
  <AlipayAppid>
  </AlipayAppid>
  <AliOHFollowRelayTitle>
  </AliOHFollowRelayTitle>
  <IsAddCommission>0</IsAddCommission>
  <AddCommissionStartTime>
  </AddCommissionStartTime>
  <AddCommissionEndTime>
  </AddCommissionEndTime>
  <IsRegisterSendCoupon>false</IsRegisterSendCoupon>
  <RegisterSendCouponId>0</RegisterSendCouponId>
  <RegisterSendCouponBeginTime>
  </RegisterSendCouponBeginTime>
  <RegisterSendCouponEndTime>
  </RegisterSendCouponEndTime>
  <EnableSP>false</EnableSP>
  <Main_Mch_ID>
  </Main_Mch_ID>
  <Main_PayKey>
  </Main_PayKey>
  <Main_AppId>
  </Main_AppId>
</Settings>