<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <dataConfiguration defaultDatabase="HidistroSqlServer" />
  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAphyTab9tg0GudwburqIh8wQAAAACAAAAAAAQZgAAAAEAACAAAAAlaf1PqaHW8lLEd2bznccqtXQ2XT25BSFRAzXATuKjYAAAAAAOgAAAAAIAACAAAACb7WAoSjzkWCg6t+mpFxMsix58/JoSaOuunp7n0c4i8sABAAAnzZqm240fDLk/8PU2W6sMsUFyjMKJTXF/NgWOoX0O1QRvtg59wcPnvXhFSJFFi2GZyRJCCXH1U5c3VaK6wBMuJx+tR2kia13VgHjZcBE147Zo4GJWX2foQ1di/Vi1YWTx/sXhpuhCRyHCH0+8V33mT0jizK5onTuBd9+t/8iB14pW+9dg+PaQZHTjotA4Hhx0jvVfIz7Ln2YvbQZQmC42yq1q2ka5mWCc3OObs1hUqtXwZ+FTXTKGlu01QXYKvlRX+ZTK2jeBRYB64zX8h6VACFF7umWsOtWh3RoB9HyfowNdFr62buqyqZlrZYKj1X+Ui+YU+TqcGUopwu7aM1pu6JGAx1nfhrn7c69S/y7RknNiIIUvVH/Vne69WPZTJprNGVxk8WLhi7iOadgABR6rAXg/u9My0aMMBbjsaom86gvRE0QaHf0WY4VqMH4omgzxLoIk4dKh1kAKfduQrL6y8M0auo5Feqr2Tl74GAfH4zLLkivd4nDuFXKtwALAXjzd9p9WQ//3plHy6iUyaUQvaZJteY3X5Il19UGlq4Epyz4v1Q2+NTX/pylSOyIYxH4RM2yiafVoWrX4XlQRfqK8QAAAALfXJk1S4ai1w55u/2zTMBZC5JXxrbXMo0teFWKT2GTeVwVzdNnbDeZvJzs3BMl0N5p13ifCpNCMYL8Ib+A75cA=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="Kindeditor:BasePath" value="~/kindeditor/" />
    <add key="Kindeditor:FileCategoryJson" value="~/Admin/FileCategoryJson.aspx" />
    <add key="Kindeditor:FileManagerJson" value="~/Admin/FileManagerJson.aspx" />
    <add key="Kindeditor:UploadFileJson" value="~/Admin/UploadFileJson.aspx" />
    <add key="Key" value="mHyIjDIpe7xwrJ1p7yATog==" />
    <add key="IV" value="0wFPrbjDn4+1l8Awo8upeQ==" />
  </appSettings>
  <system.web>

    <!--<sessionState mode="Off" />-->
    <machineKey validationKey="8318AF86C8363F3833C82F2599CB4224A1F52EAB"
      decryptionKey="637D203CF0D7502FDD44C1F9D0DAAD8D736D8E4436874191"
      validation="SHA1" decryption="3DES" />
    <pages buffer="true" enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableSessionState="true" validateRequest="false" autoEventWireup="false" pageBaseType="Hidistro.UI.Common.Controls.HiPage, Hidistro.UI.Common.Controls" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <trace enabled="false" pageOutput="false" />
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="ResourceNotFound.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="RegionHandler.aspx" type="Hidistro.UI.Common.Controls.RegionHandler, Hidistro.UI.Common.Controls" />
      <add verb="*" path="UserStatisticeChart.aspx" type="Hidistro.UI.Common.Controls.UserStatisticeChart, Hidistro.UI.Common.Controls" />
      <add verb="*" type="Hidistro.UI.Common.Controls.UploadHandler,Hidistro.UI.Common.Controls" path="uploadHandler.aspx" />
      <add verb="*" path="PluginHandler.aspx" type="Hishop.Plugins.ConfigHandler, Hishop.Plugins" />
      <add verb="*" path="ExpressData.aspx" type="Hidistro.UI.SaleSystem.CodeBehind.ExpressData, Hidistro.UI.SaleSystem.CodeBehind" />
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
    </httpHandlers>

    <authentication mode="Forms">
      <forms name=".Hidistro" protection="All" timeout="240" loginUrl="loginEntry.aspx" cookieless="AutoDetect" slidingExpiration="true" />
    </authentication>
    <webServices>
      <protocols>
        <remove name="HttpPost" />
        <remove name="HttpGet" />
        <remove name="HttpPostLocalhost" />
        <remove name="Documentation" />
        <remove name="Unknown" />
      </protocols>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </webServices>
    <httpRuntime maxRequestLength="40960" executionTimeout="360" requestValidationMode="2.0" />

  </system.web>
  <microsoft.web.services3>
    <security>
      <securityTokenManager>
        <add type="Hidistro.UI.Web.HiUsernameTokenManager,Hidistro.UI.Web" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken" />
      </securityTokenManager>
      <timeToleranceInSeconds value="3600" />
    </security>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script">

      <add name="htm" path="*.htm" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
  </system.webServer>
</configuration>