<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
<header class="members_head">	
	<section class="mobile13_headertop">
		<img src="/Templates/vshop/t13/images/banner@2x.png" width="100%">
		<b id="StoreName">店铺主页</b>
	</section>
	<section class="mobile13_headerbot">
		<section class="mobile13_headerbot_le"><img id="imglogo" src="/Templates/vshop/t13/images/head@2x.png" width="65" height="65"></section>
		<section class="mobile13_headerbot_ri">
			<ul>
				<li>
					<span id="goodsCount">300</span>
					<a href="/ProductList.aspx">全部商品</a>
				</li>
				<li>
					<span><img src="/admin/shop/PublicMob/images/huoodng@2x.png" width="18" height="18"></span>
					<a href="/activities.aspx">店铺活动</a>
				</li>
				<li>
					<span><img src="/admin/shop/PublicMob/images/5@2x.png" width="18" height="18"></span>
					<a href="/Vshop/MemberOrders.aspx">我的订单</a>
				</li>
				<li>
					<span><img src="/admin/shop/PublicMob/images/6@2x.png" width="18" height="16"></span>
					<a href="/Vshop/MemberCenter.aspx">会员签到</a>
				</li>
			</ul>
		</section>
	</section>

	
	<section class="mobile13_nav">
		<ul>
			
			<li class="g-box">
				<a href="/default.aspx" class="mobile13_navle"  style="background-color:#ffba00">
					<span>新品尝鲜</span>
					<p>NEW<b></b></p>
				</a>
				<a href="/default.aspx" class="mobile13_navri g-flex">
					<img src="/Templates/vshop/t13/images/tu1@2x.png" width="100%">
					<strong>活动一</strong>
				</a>
			</li>
			
			<li class="g-box">
				<a href="/default.aspx" class="mobile13_navle"  style="background-color:#ed5a5a">
					<span>热销商品</span>
					<p>HOT<b></b></p>
				</a>
				<a href="/default.aspx" class="mobile13_navri g-flex">
					<img src="/Templates/vshop/t13/images/tu2@2x.png" width="100%">
					<strong>活动二</strong>
				</a>
			</li>
			
			<li class="g-box">
				<a href="/default.aspx" class="mobile13_navle"  style="background-color:#00a5e7">
					<span>促销活动</span>
					<p>SALE<b></b></p>
				</a>
				<a href="/default.aspx" class="mobile13_navri g-flex">
					<img src="/Templates/vshop/t13/images/tu3@2x.png" width="100%">
					<strong>活动三</strong>
				</a>
			</li>
			
			<li class="g-box">
				<a href="/default.aspx" class="mobile13_navle"  style="background-color:#fe5a00">
					<span>帮助中心</span>
					<p>HELP<b></b></p>
				</a>
				<a href="/default.aspx" class="mobile13_navri g-flex">
					<img src="/Templates/vshop/t13/images/tu4@2x.png" width="100%">
					<strong>活动四</strong>
				</a>
			</li>
			
		</ul>
	</section>
	
</header>
<Hi:GoodsListModule runat="server"  Type="goodGroup" Layout="1" ShowName="True" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsListGroup.ashx" ID="group_afbb18d1b4e24d929be22e1cab6e2c19" TemplateFile="/Admin/shop/Modules/GoodGroup1.cshtml"  GoodListSize="6" FirstPriority="2"  SecondPriority="3"    />