<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <customErrors mode="RemoteOnly">
        <error statusCode="404" redirect="NotPermisson.aspx" />
        <error statusCode="500" redirect="NotPermisson.aspx?type=3" />
      </customErrors>
    </system.web>
</configuration>
