.mobile9_headertop {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #B9A189;
}

    .mobile9_headertop img {
        width: 100%;
    }

.mobile9_headerbot {
    width: 100%;
    height: 44px;
    border-bottom: #ccc solid 1px;
    border-top: #e1e3e8 solid 1px;
    box-shadow: #ccc 1px 0 5px;
}

.mobile9_headerbot_lenox {
    position: absolute;
    top: 38px;
    left: 110px;
    font-size: 20px;
    text-shadow: -1px 2px 2px #FFF;
    FILTER: glow(color:#FFF,strength=5);
}

.mobile9_headerbot_le {
    position: absolute;
    top: 15px;
    left: 26px;
    width: 68px;
    height: 68px;
    padding: 2px;
    overflow: hidden;
}

.mobile9_headerbot ul li {
    float: left;
    width: 25%;
    text-align: center;
    overflow: hidden;
    background: url(/PublicMob/images/header3.jpg) no-repeat right;
    background-size: 1px 30px;
}

    .mobile9_headerbot ul li span {
        display: block;
        height: 18px;
        line-height: 18px;
        color: #696969;
        margin-top: 5px;
    }

    .mobile9_headerbot ul li a {
        display: block;
        color: #404040;
        line-height: 18px;
        margin-top: 2px;
    }

.homeCnav {
    width: 100%;
    height: 65px;
    /*position: absolute;*/
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.8) none repeat scroll !important;
}

.homeCnavbox {
    width: 100%;
    overflow: hidden;
    height: 65px;
}

    .homeCnavbox ul {
        width: 100%;
        position: relative;
    }

        .homeCnavbox ul li {
            float: left;
            text-align: center;
            overflow: hidden;
            background: url(../../images/index5_1.jpg) left no-repeat;
        }

            .homeCnavbox ul li a {
                height: 65px;
                display: block;
                overflow: hidden;
            }

                .homeCnavbox ul li a img {
                    padding-top: 6px;
                }

                .homeCnavbox ul li a h2 {
                    color: #fff;
                    font-size: 15px;
                    padding-top: 5px;
                }

.mobile9_flash {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

    .mobile9_flash ul {
        position: relative;
    }

        .mobile9_flash ul li {
            float: left;
            position: relative;
            width: 100%;
        }

.mobile9_flash_time {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

    .mobile9_flash_time span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #505050;
        border-radius: 10px;
        overflow: hidden;
    }

        .mobile9_flash_time span.cur {
            background: #f12706;
        }

.mobile9_newtit {
    width: 100%;
    height: 25px;
    line-height: 25px;
    border-bottom: #e9e9e9 solid 1px;
    background: url(../../images/index9-2.png) no-repeat 10px 4px;
    background-size: 16px 13px;
}

    .mobile9_newtit a {
        display: block;
        float: left;
        line-height: 25px;
        color: #000;
        padding-left: 30px;
    }

.mobile9_newgoods {
    width: 100%;
    padding-bottom: 2.5%;
    overflow: hidden;
}

    .mobile9_newgoods ul li {
        float: left;
        width: 45%;
        margin-left: 2.5%;
        margin-top: 2.5%;
    }

        .mobile9_newgoods ul li a {
            display: block;
            width: 100%;
            position: relative;
        }

            .mobile9_newgoods ul li a em {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                font-style: normal;
                height: 25px;
                line-height: 25px;
                font-size: 14px;
                padding: 0 10px;
                text-align: center;
                color: #fff;
                background: rgba(0,0,0,.4) none repeat scroll !important;
            }

                .mobile9_newgoods ul li a em i {
                    display: inline-block;
                    padding-right: 4px;
                    font-style: normal;
                }
